#root {
  -webkit-user-select: none;
  
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);

  margin: 8px;
  padding: 0px;

  overflow: hidden;

  font-family: 'NanumSquareRound';
}

#content {
  width: 100%;
  height: calc(100% - 96px - 8px);

  overflow-y: auto;
}

#header-container {
  -webkit-app-region: drag;

  width: auto;
  height: 48px;

  padding: 12px;
}

.header-button {
  -webkit-app-region: no-drag;

  transform: scale(1.0, 1.0);
  cursor: pointer;

  transition: transform 0.25s;
}

.header-button:hover {
  transform: scale(1.5, 1.5);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD; 
}

::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E; 
}